<!DOCTYPE html>
<html>
    <head>
        <title>ERREUR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><B>Oups</B></div>
        <div><B>Cette page n'existe pas</B></div>

        {% if app.environment == 'dev' %}
            <div>
                <h2>Messages d'erreur et d'exception :</h2>
                <ul>
                    {% for error in app.debug.error %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
            </div>
        {% endif %}
    </body>
</html>